.signUp{
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signBox{
    background: #0f1422;
    border-radius: 10px;
    margin: 5%;
    width: 50%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(241, 236, 236, 0.664);
    transition: 0.5s;
    text-align: center;
    align-content: center;
}
.signBox div {
    margin: 5%;
}
.signBox input{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(241, 236, 236, 0.815);
}
.signBox button{
    height: 40px;
    width: 130px;
    border-radius: 10px;
}
.signBox button:hover{
    color: rgb(194, 46, 46);
    box-shadow: 0 0 20px 0px rgba(241, 236, 236, 0.815);
}